sudo: required
conditions: v1
language: cpp
services:
  - docker
jobs:
  include:

    # run unit tests
    - stage: build
      name: build
      script:
        - sampctl package ensure
        - sampctl package build

    # deploy only if on one of the main branches
    # - master is the latest public/live/production version
    # - staging is the next stable public/live/production version
    # - develop is the rolling development release version
    - stage: deploy-branch
      name: deploy-branch
      if: branch IN (master, staging, develop)
      script:
        - make static
        - docker build -t temp .
        - docker tag temp "southclaws/tw-gamemode:$TRAVIS_BRANCH"
        - docker push "southclaws/tw-gamemode:$TRAVIS_BRANCH"
    - stage: deploy-tag
      name: deploy-tag
      if: tag IS present
      script:
        - make static
        - docker build -t temp .
        - docker tag temp "southclaws/tw-gamemode:$TRAVIS_TAG"
        - docker push "southclaws/tw-gamemode:$TRAVIS_TAG"
